body{
    color: white;
    background-color: black;
}

.navbar-items a{ 
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    margin: auto;
    font-size: x-large;
}
.icons{
    background-color: black;
    color: white;
}
.contact-icons a{
    padding: 1rem;
}

